<%#  index %>






<div>
  <h3>Submit your opinion about the 2109 best burger between Wendy's and McDonald!</h3> 
 <p>Hi voter, 
  we're collecting data on what the general public thinks of 
  the two major hamburger joints in the 2109 burger wars.</p>
</div>

<form action="/contact" method="post">
  <input type="text" name="visitor_name" placeholder="Your name" class="inputSuff">
  <input type="text" name="email_address" placeholder="email_address@your_provider.com" class="inputSuff">
  <input type="text" name="comment" placeholder="Your comments" class="inputSuff">
   <p>
      <label>
        <input name="group1" type="radio" checked />
        <span class="red-text selection">Wendy's</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span class="red-text selection">McDonalds</span>
      </label>
    </p>
  <input type="submit" value="Go">
</form>


